<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
	<staticContent>
            <mimeMap fileExtension=".php" mimeType="text/html; charset=windows-1251" />
        </staticContent>
    </system.webServer>
    <system.web>
        <globalization requestEncoding="windows-1251" responseEncoding="windows-1251" responseHeaderEncoding="windows-1251" />
    </system.web>
</configuration>
